# dependencies
/node_modules

# misc
.DS_Store
.env

# Vercel
.vercel

# Logs
logs
*.log
npm-debug.log*

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Build output
/dist
/build

# Temporary files
tmp
temp